<p>hearthstone works!</p>
<button (click)="connect()">Connect</button>
<button (click)="disconnect()">Disconnect</button>
<button (click)="sendMessage()">say hello</button>
<div>
    <input id="username" [(ngModel)]="userName" type="text">
    <button (click)="start()">Start</button>
    {{ userName }}
</div>
<div>
    {{ playGameUrl }}
    <input [(ngModel)]="playGameUrl" type="text" name="" id="">
</div>
<div *ngFor="let card of player1Deck; let i = index">
    {{ player1Deck[i].name }}
</div>

<div class="grid-container">
    <div class="header">header</div>
    <div class="ophand">ophand</div>
    <div class="opdeck">opdeck</div>

    <div class="chat">chat</div>
    <div class="opboard">
        <div class="opboardcontainer">
            <div>5</div>
            <div>4</div>
            <div>3</div>
            <div>2</div>
            <div>1</div>
        </div>
    </div>
    <div class="main">main</div>

    <div class="board">
        <div class="boardcontainer">
            <div>{{ player1Deck[0].name }} {{ player1Deck[0].attack}} / {{ player1Deck[0].health }}</div>
            <div>{{ player1Deck[1].name }}</div>
            <div>{{ player1Deck[2].name }}</div>
            <div>{{ player1Deck[3].name }}</div>
            <div>{{ player1Deck[4].name }}</div>
        </div>
    </div>
    <div class="main2">main2</div>

    <div class="footer">footer</div>
    <div class="hand">hand</div>
    <div class="deck">deck</div>
</div>