<div class="wrapper" *ngIf="card !== undefined && card !== null">
    <mat-card-header>
        <mat-card-title class="cardTitle"> {{ card.name }} <br></mat-card-title>
        <mat-card-subtitle class="cardSubTitle">Attack: {{ card.attack }} / Health: {{ card.health }}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="cardimage" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p class="cardDesc">
            Battlecry:
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="summon()">SUMMON</button>
    </mat-card-actions>
</div>